.header {
  display: flex;
  align-items: center;
  column-gap: 212.5px;
  padding-top: 70px;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: $black;
}
.header__logo {
  padding-left: calc(50% - 620px);
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__item {
  padding: 20px 0;
}

.header__link {
  color: $white;
  transition: color 0.5s;
  font-family: Mplus 1p;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.header__link:hover {
  color: $green;
}

.dropdown__content {
  width: 100%;
  display: none;
  position: absolute;
  top: 134px;
  left: 0;
  z-index: 100;
  height: 288px;
  padding-bottom: 90px;
  padding-top: 75px;
  background-color: $black;
}

.dropdown__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 142px;
  width: 440px;
  margin-left: 25%;
}

.dropdown__content a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

.show {
  display: block;
}

.show-overlay {
  display: block;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.active-nav {
  border-bottom: 2px solid $white;
}

.header__mobile {
  display: none;
}
.mobile__nav {
  position: absolute;
  right: -250px;
  top: 0;
  height: 100vh;
  background-color: $black;
  width: 250px;
  transition: all 0.7s;
  z-index: 25;
}
.active-mobile {
  right: 0;
  transition: all 0.7s;
}
.nav__close-button {
  margin-top: 46px;
  margin-right: 19px;
  text-align: right;
}
.mobile__nav-list {
  margin-top: 6px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.mobile__nav-item {
  margin-top: 40px;
}
.dropdown-mobile__content {
  display: none;
  border-bottom: 1px solid #ffffff33;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.01em;
}
.dropdown-mobile__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 32px;
}

.dropdown-mobile__link {
  color: $white;
}
