.header {
  display: flex;
  align-items: center;
  column-gap: 212.5px;
  padding-top: 70px;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: $black;
}
.header__logo {
  padding-left: calc(50% - 620px);
}

.header__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header__item {
  padding: 20px 0;
}

.header__link {
  color: $white;
  transition: color 0.5s;
  font-family: Mplus 1p;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.header__link:hover {
  color: $green;
}

.dropdown__content {
  width: 100%;
  display: none;
  position: absolute;
  top: 136px;
  z-index: 100;
  height: 288px;
  padding-bottom: 90px;
  padding-top: 75px;
  background-color: $black;
}

.dropdown__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 142px;
  width: 440px;
  margin-left: 25%;
}

.dropdown__content a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

.show {
  display: block;
  z-index: 1000;
}

.show-overlay {
  display: block;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.active {
  border-bottom: 2px solid $white;
}
