@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");

$white: #ffffff;
$black: #0b0a0d;
$green: #75ff72;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  background-color: $black;
  color: $white;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  background: rgba(183, 183, 183, 0.8);
  disaply: none;
}

.heading {
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: -0.03em;
}

section {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

@import "header";
@import "slider";
@import "faq";
@import "news";
@import "subscribe";
@import "footer";
