@media (max-width: 705px) {
  .header {
    justify-content: space-between;
  }
  .header__logo {
    padding: 0;
  }
  .header__nav {
    display: none;
  }
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  section,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__mobile {
    display: block;
  }
  .heading {
    font-size: 40px;
  }
  .intro {
    display: none;
  }
  .intro-mobile {
    display: block;
  }
  .faq,
  .news {
    margin: 80px 0;
  }
  .footer {
    justify-content: center;
    margin-bottom: 167px;
  }
  .news__wrapper {
    display: none;
  }
  .swiper-news {
    display: block;
  }
  .form__input input {
    width: 289px;
  }
  .subscribe__text {
    width: 275px;
  }
}
